FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	BACKGROUND-COLOR: #ffffff
}
TABLE.inputform SPAN.text {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000
}
TABLE.inputform {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 6px; WIDTH: 566px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputform TD A:visited {
	TEXT-DECORATION: none
}
TABLE.inputform TD A:link {
	TEXT-DECORATION: none
}
TABLE.inputform TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputform TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
TABLE.inputform TD.subheading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #006666; PADDING-TOP: 3px
}
TABLE.inputform TD.plaintd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputform TD.whitetd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputform TR TD TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputform TR TD TABLE TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputform TR TH TABLE TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.feint {
	COLOR: #006666
}
.container {
	MARGIN: 0px; WIDTH: 100%
}
#xround H1 {
	MARGIN: 0px; LETTER-SPACING: 1px
}
#xround H2 {
	MARGIN: 0px; LETTER-SPACING: 1px
}
#xround P {
	MARGIN: 0px; LETTER-SPACING: 1px
}
.xround H1 {
	MARGIN: 0px; LETTER-SPACING: 1px
}
.xround H2 {
	MARGIN: 0px; LETTER-SPACING: 1px
}
.xround P {
	MARGIN: 0px; LETTER-SPACING: 1px
}
#xround H2 {
	PADDING-TOP: 0.5em
}
.xround H2 {
	PADDING-TOP: 0.5em
}
#xround {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px
}
.xround {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px
}
.xtop {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.xbottom {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.xb1 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb2 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb3 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb4 {
	DISPLAY: block; OVERFLOW: hidden
}
.xb1 {
	HEIGHT: 1px
}
.xb2 {
	HEIGHT: 1px
}
.xb3 {
	HEIGHT: 1px
}
.xb2 {
	BORDER-RIGHT: #bfbfbf 1px solid; BACKGROUND: #eef5f5; BORDER-LEFT: #bfbfbf 1px solid
}
.xb3 {
	BORDER-RIGHT: #bfbfbf 1px solid; BACKGROUND: #eef5f5; BORDER-LEFT: #bfbfbf 1px solid
}
.xb4 {
	BORDER-RIGHT: #bfbfbf 1px solid; BACKGROUND: #eef5f5; BORDER-LEFT: #bfbfbf 1px solid
}
.xb1 {
	BACKGROUND: #bfbfbf; MARGIN: 0px 5px
}
.xb2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; BORDER-RIGHT-WIDTH: 2px
}
.xb3 {
	MARGIN: 0px 2px
}
.xb4 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
.xboxcontent {
	BORDER-RIGHT: #bfbfbf 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #bfbfbf 0px solid; DISPLAY: block; BACKGROUND: #eef5f5; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 0px solid
}
.submit_button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #e33e3e; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; WIDTH: 80px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.reset_button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #e33e3e; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: text-bottom; WIDTH: 80px; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-ALIGN: center
}
