TABLE.inputformmax {
	BORDER-RIGHT: #adadaf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #adadaf 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN-LEFT: 22px; BORDER-LEFT: #adadaf 1px solid; WIDTH: 718px; PADDING-TOP: 0px; BORDER-BOTTOM: #adadaf 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.inputformmax TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputformmax TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; TEXT-ALIGN: left
}
TABLE.inputformmax TD.subheading {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #006666; PADDING-TOP: 3px
}
TABLE.inputformmax TD.plaintd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputformmax TD.whitetd {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputformmax TR TD TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputformmax TR TD TABLE TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputformmax TR TH TABLE TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inputformmax TR TD.tdm1colsubmit {
	WIDTH: 718px; TEXT-ALIGN: right
}
TABLE.inputformmax TH.tdm1col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 720px; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputformmax TD.subheadingtdm1col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 720px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TH.subheadingtdm1col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 720px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TR TD.tdm1col {
	WIDTH: 720px
}
TABLE.inputformmax TR TD.tdm1col INPUT {
	WIDTH: 706px
}
TABLE.inputformmax TR TD.tdm1col TEXTAREA {
	WIDTH: 706px; WHITE-SPACE: normal
}
TABLE.inputformmax TR TD.tdm1col SELECT {
	WIDTH: 710px
}
TABLE.inputformmax TR TD.tdm1col_NI {
	WIDTH: 720px
}
INPUT.tdm1col {
	WIDTH: 706px
}
TEXTAREA.tdm1col {
	WIDTH: 706px
}
SELECT.tdm1col {
	WIDTH: 710px
}
TABLE.inputformmax TH.tdm2col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 360px; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputformmax TD.subheadingtdm2col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 360px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TH.subheadingtdm2col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 360px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TR TD.tdm2col {
	WIDTH: 360px
}
TABLE.inputformmax TR TD.tdm2col INPUT {
	WIDTH: 348px
}
TABLE.inputformmax TR TD.tdm2col TEXTAREA {
	WIDTH: 348px; WHITE-SPACE: normal
}
TABLE.inputformmax TR TD.tdm2col SELECT {
	WIDTH: 352px
}
TABLE.inputformmax TR TD.tdm2col_NI {
	WIDTH: 360px
}
INPUT.tdm2col {
	WIDTH: 348px
}
TEXTAREA.tdm2col {
	WIDTH: 348px
}
SELECT.tdm2col {
	WIDTH: 352px
}
TABLE.inputformmax TH.tdm4col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 180px; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputformmax TD.subheadingtdm4col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 180px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TH.subheadingtdm4col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 180px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TR TD.tdm4col {
	WIDTH: 180px
}
TABLE.inputformmax TR TD.tdm4col INPUT {
	WIDTH: 168px
}
TABLE.inputformmax TR TD.tdm4col TEXTAREA {
	WIDTH: 168px; WHITE-SPACE: normal
}
TABLE.inputformmax TR TD.tdm4col SELECT {
	WIDTH: 172px
}
TABLE.inputformmax TR TD.tdm4col_NI {
	WIDTH: 180px
}
INPUT.tdm4col {
	WIDTH: 168px
}
TEXTAREA.tdm4col {
	WIDTH: 168px
}
SELECT.tdm4col {
	WIDTH: 172px
}
TABLE.inputformmax TH.tdm8col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 90px; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputformmax TD.subheadingtdm8col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 90px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TH.subheadingtdm8col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 90px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TR TD.tdm8col {
	WIDTH: 90px
}
TABLE.inputformmax TR TD.tdm8col INPUT {
	WIDTH: 78px
}
TABLE.inputformmax TR TD.tdm8col TEXTAREA {
	WIDTH: 78px; WHITE-SPACE: normal
}
TABLE.inputformmax TR TD.tdm8col SELECT {
	WIDTH: 82px
}
TABLE.inputformmax TR TD.tdm8col_NI {
	WIDTH: 90px
}
INPUT.tdm8col {
	WIDTH: 78px
}
TEXTAREA.tdm8col {
	WIDTH: 78px
}
SELECT.tdm8col {
	WIDTH: 82px
}
TABLE.inputformmax TH.tdm16col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 45px; COLOR: #006666; PADDING-TOP: 3px; TEXT-ALIGN: center
}
TABLE.inputformmax TD.subheadingtdm16col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 45px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TH.subheadingtdm16col {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 45px; COLOR: #404040; PADDING-TOP: 3px
}
TABLE.inputformmax TR TD.tdm16col {
	WIDTH: 45px
}
TABLE.inputformmax TR TD.tdm16col INPUT {
	WIDTH: 33px
}
TABLE.inputformmax TR TD.tdm16col TEXTAREA {
	WIDTH: 33px; WHITE-SPACE: normal
}
TABLE.inputformmax TR TD.tdm16col SELECT {
	WIDTH: 31px
}
TABLE.inputformmax TR TD.tdm16col_NI {
	WIDTH: 45px
}
INPUT.tdm16col {
	WIDTH: 33px
}
TEXTAREA.tdm16col {
	WIDTH: 33px
}
SELECT.tdm16col {
	WIDTH: 31px
}
