TD.green {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
SPAN.green {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.plargerbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.plargebold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.pbold_list:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.pbold_list:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.pbold_list:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.pbold_list:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pbold_list {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.greenboldsmall:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.greenboldsmall:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.greenboldsmall:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.greenboldsmall:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.greenboldsmall {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.greenboldsmall_list:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.greenboldsmall_list:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.greenboldsmall_list:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.greenboldsmall_list:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.greensmallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.greenboldsmall_list {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #1f7979; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.smallboldlinkunderline:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A.smallboldlinkunderline:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A.smallboldlinkunderline:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A.smallboldlinkunderline:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.psmall {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.whitebold_small:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.whitebold_small:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.whitebold_small:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.whitebold_small:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whitebold_small {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.small_list {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.small_list_underline:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.small_list_underline:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.small_list_underline:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.small_list_underline:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.small_list_underline {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.psmall {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.white {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff
}
.smallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000
}
.pbold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000
}
.tablehead {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #5e9e9e
}
.tablesubhead {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #bdd7d7
}
.cal_175 {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #404040 1px solid; WIDTH: 175px; PADDING-TOP: 0px; BORDER-BOTTOM: #404040 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #eeeeee
}
.cal_150 {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #404040 1px solid; WIDTH: 150px; PADDING-TOP: 0px; BORDER-BOTTOM: #404040 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #eeeeee
}
.cal_175 TH {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid
}
.cal_175 TD {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid
}
.cal_150 TH {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid
}
.cal_150 TD {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid
}
.monthtable {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #404040 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #404040 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #eeeeee
}
.monthtable TH {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404040 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #404040 1px solid
}
.monthtable TD {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404040 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #404040 1px solid
}
.monthtable TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.todaystyle {
	FONT-WEIGHT: bold; COLOR: #e33e3e; BACKGROUND-COLOR: #f4b6b6
}
.subheading {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10pt; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 25px 0px 5px; COLOR: #1f1f1f; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.smallgreylist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #9e9e9e; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.smallgreylist LI UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.contents .smallgreylist A:link {
	COLOR: #9e9e9e; TEXT-DECORATION: none
}
.contents .smallgreylist A:visited {
	COLOR: #9e9e9e; TEXT-DECORATION: none
}
.contents .smallgreylist A:hover {
	COLOR: #e33e3e; TEXT-DECORATION: underline
}
.contents .smallgreylist A:active {
	COLOR: #e33e3e; TEXT-DECORATION: underline
}
.smallblack {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #1f1f1f; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.smallgreen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5e9e9e; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.smallgreen A:link {
	FONT-SIZE: 8pt; COLOR: #5e9e9e; TEXT-DECORATION: underline
}
.smallgreen A:visited {
	FONT-SIZE: 8pt; COLOR: #5e9e9e; TEXT-DECORATION: underline
}
.smallgreen A:active {
	FONT-SIZE: 8pt; COLOR: #73b360; TEXT-DECORATION: none
}
.smallgreen A:hover {
	FONT-SIZE: 8pt; COLOR: #73b360; TEXT-DECORATION: none
}
.smallwhite {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.smallwhite A:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
.smallwhite A:visited {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: underline
}
.smallwhite A:active {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.smallwhite A:hover {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.pbold_small {
	FONT-WEIGHT: bold
}
