{%include "header.html" %}

			<div class="main">
				<div class="bluebox">
					<h1 id='contact_us'>Contact Us</h1><br/>
					<p>Have you found a mistake in the data provided by KiPhoDB? Do you have any suggestions that would be useful in improving the quality of data in KiPhoDB and the usability of the website? Do you have data about kinases and phosphatases that could be inserted in our database?<br/><b>Then we would like to hear from you!</b><br/><br/> Please use one of the following ways to contact us, and we will respond to your request as soon as possible. Thank You!</p><br/>
					<h2><i>Leave a Comment...</i></h2>
					<p>We have created an online form that you can fill in and send us a message. Please do so by clicking	<a href="comment.html">here</a>.</p><br/>
					<h2><i>Send Us an Email...</i></h2>
					<p>If you do not wish to use our comment form, please send us an email at <a href="mailto:kiphodb@kiphodb.org?subject=Comments for KiPhoDB.">kiphodb@kiphodb.org</a></p>
					<div class="cleaner">
						&nbsp;
					</div>
				</div>
				<div class="bluebox">
					<h1 id='legal_info'>Legal Information</h1><br/>
					<h2>Terms of Use</h2>
					<table border="0"><tr><td><p>All copyrightable parts of KiPhoDB are released under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution + Noncommercial + NoDerivs</a> license. This means that you are free to copy, distribute and display the information stored into the KiPhoDB database and its public website under all legislations, provided that you give us credit. Nevertheless, you do not have the right to use the contents of KiPhoDB for commercial purposes or distribute a modified version of it. If you want to do so, you must contact us and ask for permission.</p></td><td><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img src="images/license.png"></a></td></tr></table><br/><br/>
					<h2>Disclaimer</h2>
					<p>The people that maintain KiPhoDB try to constantly update the database with new information and make sure that all data stored in the database are of high quality. However, we cannot make any implied or written warranties regarding the correctness of the data. Moreover, we disclaim liability for any special, consequential or incidental damages resulting from using this website.</p><br/><br/>
					<h2>Privacy Policy</h2>
					<p>We reserve the right to use information about visitors (e.g. IP address, time of visit, etc.) for generating site usage statistics in order to improve our services.</p><br/>
					<div class="cleaner">
						&nbsp;
					</div>
				
				</div>
			</div>
		</div>

{% include "footer.html" %}

